{% extends 'base.html' %}

{% block title %}
{{ thesis.title }}
{% endblock %}

{% block content %}
<div class="container mt-4 rounded">
    <a href="javascript:window.history.back() || '{% url 'home' %}'">Go back</a>
    <div class="row rounded" style="height: calc(100vh - 150px);">

        <!-- Left Sidebar: Opinions -->
        <div class="col-md-3 p-2">
            <div class="card h-100">
                <div class="card-body">
                    <!-- Opinion input -->
                    <form method="post" action="{% url 'post:view_thesis' thesis.id %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="opinion" class="form-label">Wanna say something?: </label>
                            <input type="text" class="form-control" name="opinion" id="opinion" placeholder="Opinion"
                                   required>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Opinion</button>
                    </form>

                    <!-- Opinions list -->
                    {% include 'post/opinions_list.html' %}
                </div>
            </div>
        </div>

        <!-- Main Content: Thesis Details -->
        <div class="col-md-6 p-2" style="max-height: calc(100vh - 150px);">
            <div class="card mb-3 shadow-sm" style="height: 100%;">
                {% if thesis.cover_pic %}
                <img src="{{ thesis.cover_pic.url }}" class="card-img-top" style="max-height: 35em; object-fit: cover;"
                     alt="Cover image">
                {% endif %}
                <div class="card-body" style="overflow-y: scroll;  overflow-y: auto;">
                    <h5 class="card-title">{{ thesis.title }}</h5>
                    <p class="text-muted"><i>By: {{ thesis.organizer.user.username }}</i></p>
                    <p class="text-black">Posted: {{ thesis.created_at|date:"M d, Y H:i" }} | Start Date: {{
                        thesis.start_date|date:"M d, Y" }} | End Date: {{ thesis.end_date|date:"M d, Y" }}</p>
                    <p class="text-black">Researching: {{ thesis.research_topic }} in {{ thesis.research_field }}</p>
                    <p class="text-black">Status: {{ thesis.status }}</p>
                    <hr>
                    <p class="text-black">Description:</p>
                    <p class="card-text">{{ thesis.description }}</p>
                </div>
            </div>
        </div>

        <!-- Right Sidebar: Add Resource -->
        <!-- Include the modal template -->
        {% include 'collaboration/add_resource.html' %}


    </div>
</div>
{% endblock %}
